In [1]:
import pandas as pd
import numpy as np

# Load dataset
df = pd.read_excel('StudentPerformanceFactors.xlsx')

# Tampilkan kolom awal
print('Kolom awal:', list(df.columns))

Kolom awal: ['Hours_Studied', 'Attendance', 'Parental_Involvement', 'Access_to_Resources', 'Extracurricular_Activities', 'Sleep_Hours', 'Previous_Scores', 'Motivation_Level', 'Internet_Access', 'Tutoring_Sessions', 'Family_Income', 'Teacher_Quality', 'School_Type', 'Peer_Influence', 'Physical_Activity', 'Learning_Disabilities', 'Parental_Education_Level', 'Distance_from_Home', 'Gender', 'Exam_Score']

In [2]:
# Pisahkan kolom numerik dan kategorikal
num_cols = df.select_dtypes(include=['number']).columns.tolist()
cat_cols = df.select_dtypes(exclude=['number']).columns.tolist()

# Definisi interval dan label untuk tiap kolom numerikal
kolom_kategori = {
    'Hours_Studied': ([0, 10, 20, 30], ['Low', 'Medium', 'High']),
    'Attendance': ([0, 74, 100], ['Not Met', 'Met']),
    'Sleep_Hours': ([0, 4, 6, 8, 10], ['Low', 'Medium', 'High', 'Extreme']),
    'Previous_Scores': ([0, 40, 54, 62, 70, 78, 86, 100], ['E', 'D', 'C', 'BC', 'B', 'AB', 'A']),
    'Tutoring_Sessions': ([0, 2, 4, 6, 8], ['Low', 'Medium', 'High', 'Extreme']),
    'Physical_Activity': ([0, 2, 4, 6], ['Low', 'Medium', 'High']),
    'Exam_Score': ([0, 40, 54, 62, 70, 78, 86, 100], ['E', 'D', 'C', 'BC', 'B', 'AB', 'A'])
}

In [3]:
# Copy dataframe agar aman dari modifikasi tidak sengaja
df_mody = df.copy()

# Proses kategorisasi hanya untuk kolom numerikal yang ada dalam mapping
for col in num_cols:
    if col in kolom_kategori:
        bins, labels = kolom_kategori[col]
        df_mody[col] = pd.cut(df_mody[col], bins=bins, labels=labels, include_lowest=True)
    else:
        # Jika kolom numerik tidak ada di mapping, biarkan nilainya seperti semula
        df_mody[col] = df[col]

# Pastikan urutan kolom tidak berubah
df_mody = df_mody[df.columns]

In [4]:
print('\nContoh sebelum kategorisasi:')
print(df.head())

Contoh sebelum kategorisasi:
   Hours_Studied  Attendance Parental_Involvement Access_to_Resources  \
0           23.0        84.0                  Low                High
1           19.0        64.0                  Low              Medium
2           24.0        98.0               Medium              Medium
3           29.0        89.0                  Low              Medium
4           19.0        92.0               Medium              Medium

  Extracurricular_Activities  Sleep_Hours  Previous_Scores Motivation_Level  \
0                         No          7.0               73              Low
1                         No          8.0               59              Low
2                        Yes          7.0               91           Medium
3                        Yes          8.0               98           Medium
4                        Yes          6.0               65           Medium

  Internet_Access  Tutoring_Sessions Family_Income Teacher_Quality  \
0             Yes                0.0           Low          Medium
1             Yes                2.0        Medium          Medium
2             Yes                2.0        Medium          Medium
3             Yes                1.0        Medium          Medium
4             Yes                3.0        Medium            High

  School_Type Peer_Influence  Physical_Activity Learning_Disabilities  \
0      Public       Positive                  3                    No
1      Public       Negative                  4                    No
2      Public        Neutral                  4                    No
3      Public       Negative                  4                    No
4      Public        Neutral                  4                    No

  Parental_Education_Level Distance_from_Home  Gender  Exam_Score
0              High School               Near    Male          67
1                  College           Moderate  Female          61
2             Postgraduate               Near    Male          74
3              High School           Moderate    Male          71
4                  College               Near  Female          70

In [5]:
print('\nContoh sesudah kategorisasi:')
print(df_mody.head())

Contoh sesudah kategorisasi:
  Hours_Studied Attendance Parental_Involvement Access_to_Resources  \
0          High        Met                  Low                High
1        Medium    Not Met                  Low              Medium
2          High        Met               Medium              Medium
3          High        Met                  Low              Medium
4        Medium        Met               Medium              Medium

  Extracurricular_Activities Sleep_Hours Previous_Scores Motivation_Level  \
0                         No        High               B              Low
1                         No        High               C              Low
2                        Yes        High               A           Medium
3                        Yes        High               A           Medium
4                        Yes      Medium              BC           Medium

  Internet_Access Tutoring_Sessions Family_Income Teacher_Quality School_Type  \
0             Yes               Low           Low          Medium      Public
1             Yes               Low        Medium          Medium      Public
2             Yes               Low        Medium          Medium      Public
3             Yes               Low        Medium          Medium      Public
4             Yes            Medium        Medium            High      Public

  Peer_Influence Physical_Activity Learning_Disabilities  \
0       Positive            Medium                    No
1       Negative            Medium                    No
2        Neutral            Medium                    No
3       Negative            Medium                    No
4        Neutral            Medium                    No

  Parental_Education_Level Distance_from_Home  Gender Exam_Score
0              High School               Near    Male         BC
1                  College           Moderate  Female          C
2             Postgraduate               Near    Male          B
3              High School           Moderate    Male          B
4                  College               Near  Female         BC

In [6]:
print(df.dtypes)

Hours_Studied                 float64
Attendance                    float64
Parental_Involvement           object
Access_to_Resources            object
Extracurricular_Activities     object
Sleep_Hours                   float64
Previous_Scores                 int64
Motivation_Level               object
Internet_Access                object
Tutoring_Sessions             float64
Family_Income                  object
Teacher_Quality                object
School_Type                    object
Peer_Influence                 object
Physical_Activity               int64
Learning_Disabilities          object
Parental_Education_Level       object
Distance_from_Home             object
Gender                         object
Exam_Score                      int64
dtype: object

In [7]:
import re


# üîß 1Ô∏è‚É£ Paksa ubah semua kolom ke string secara eksplisit
df_mody = df_mody.astype(str)

# üîß 2Ô∏è‚É£ Bersihkan seluruh karakter whitespace dan simbol tak terlihat
df_mody = df_mody.applymap(
    lambda x: re.sub(r'[\s\u200b\u200c\u200d\ufeff\xa0]+', '', x)
)

# üîß 3Ô∏è‚É£ Ganti string kosong atau nilai pseudo-null menjadi NaN
df_mody = df_mody.replace(['', ' ', 'nan', 'NaN', 'None', 'NULL'], np.nan)

# üîß 4Ô∏è‚É£ Cek ulang nilai kosong
na_count = df_mody.isna().sum().sort_values(ascending=False)
na_pct = (df_mody.isna().mean() * 100).sort_values(ascending=False)

print("Jumlah NA per kolom:\n", na_count)
print("\nPersentase NA per kolom (%):\n", na_pct)

C:\Users\surya\AppData\Local\Temp\ipykernel_17096\3134884577.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_mody = df_mody.applymap(

Jumlah NA per kolom:
 Hours_Studied                 254
Attendance                      1
Parental_Involvement            1
Access_to_Resources             1
Extracurricular_Activities      1
Sleep_Hours                     1
Motivation_Level                1
Internet_Access                 1
Family_Income                   1
Tutoring_Sessions               1
Teacher_Quality                 1
School_Type                     1
Gender                          1
Peer_Influence                  1
Learning_Disabilities           1
Parental_Education_Level        1
Exam_Score                      1
Distance_from_Home              1
Previous_Scores                 0
Physical_Activity               0
dtype: int64

Persentase NA per kolom (%):
 Hours_Studied                 3.843826
Attendance                    0.015133
Parental_Involvement          0.015133
Access_to_Resources           0.015133
Extracurricular_Activities    0.015133
Sleep_Hours                   0.015133
Motivation_Level              0.015133
Internet_Access               0.015133
Family_Income                 0.015133
Tutoring_Sessions             0.015133
Teacher_Quality               0.015133
School_Type                   0.015133
Gender                        0.015133
Peer_Influence                0.015133
Learning_Disabilities         0.015133
Parental_Education_Level      0.015133
Exam_Score                    0.015133
Distance_from_Home            0.015133
Previous_Scores               0.000000
Physical_Activity             0.000000
dtype: float64

In [11]:
# üîß 5Ô∏è‚É£ Pastikan semua kolom sudah string
print("\nTipe data tiap kolom:\n", df_mody.dtypes)

Tipe data tiap kolom:
 Hours_Studied                 object
Attendance                    object
Parental_Involvement          object
Access_to_Resources           object
Extracurricular_Activities    object
Sleep_Hours                   object
Previous_Scores               object
Motivation_Level              object
Internet_Access               object
Tutoring_Sessions             object
Family_Income                 object
Teacher_Quality               object
School_Type                   object
Peer_Influence                object
Physical_Activity             object
Learning_Disabilities         object
Parental_Education_Level      object
Distance_from_Home            object
Gender                        object
Exam_Score                    object
dtype: object

In [9]:
df_imputed = df_mody.copy()
cat_cols = df_imputed.select_dtypes(exclude=[np.number]).columns.tolist()

for c in cat_cols:
    mode_val = df_imputed[c].mode(dropna=True) 
    # Mencari modus, atau nilai yang paling sering muncul di data 
    # dropna=True untuk mengabaikan nilai NaN saat mencari modus
    print(f'Modus kolom {c}: {mode_val.iloc[0] if not mode_val.empty else "Tidak ada modus"}')
    if not mode_val.empty: # Cek apakah modus ditemukan
        df_imputed[c] = df_imputed[c].fillna(mode_val.iloc[0])

Modus kolom Hours_Studied: Medium
Modus kolom Attendance: Met
Modus kolom Parental_Involvement: Medium
Modus kolom Access_to_Resources: Medium
Modus kolom Extracurricular_Activities: Yes
Modus kolom Sleep_Hours: High
Modus kolom Previous_Scores: A
Modus kolom Motivation_Level: Medium
Modus kolom Internet_Access: Yes
Modus kolom Tutoring_Sessions: Low
Modus kolom Family_Income: Low
Modus kolom Teacher_Quality: Medium
Modus kolom School_Type: Public
Modus kolom Peer_Influence: Positive
Modus kolom Physical_Activity: Medium
Modus kolom Learning_Disabilities: No
Modus kolom Parental_Education_Level: HighSchool
Modus kolom Distance_from_Home: Near
Modus kolom Gender: Male
Modus kolom Exam_Score: BC

In [10]:
df_imputed.to_excel('New_StudentPerformanceFactors.xlsx', index=False)
print('\n‚úÖ File berhasil disimpan sebagai hasil_dataset_kategorisasi_final.xlsx')

‚úÖ File berhasil disimpan sebagai hasil_dataset_kategorisasi_final.xlsx